.post-card {
  border: 2px solid transparent;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.02);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .post-title {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  .post-date {
    color: #999;
    font-size: 0.9rem;
  }
}
.post-card-link {
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover .post-card {
    border-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
